#content {
    
}

#hero {
    background-color: white;
    background-image: url(images/japanese-food-5.jpg)
}

#hero-inner {
    background-color:rgba(255, 255, 255, 0.5);
    padding:0.5em;
}

/* .col {
    border:1px black solid;
}

div#hello {
    color: orange;
}

div {
    color: red;
}

#hello {
    color: yellow;
}

div#hello {
    color: black;
} */
