.carousel-image {
    height:65vh;
    min-height:350px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

#carousel-image-1 {
    background-image: url(images/japanese-food-1.jpg);
}

#carousel-image-2 {
    background-image: url(images/japanese-food-2.jpg);
}

#carousel-image-3 {
    background-image: url(images/japanese-food-3.jpg);
}

.hero {
    background-position:center;
    background-size: cover;
    border-radius:0;
}

#hero1 {
    background-image: url(images/japanese-food-4.jpg);
}

.hero-background {
    background-color:rgba(255, 255, 255, 0.75);
    padding:2em;
}

#hero2 {
    background-image: url(images/japanese-food-5.jpg);
}

.card-image {
    
}

.mobile-img {
    display:none
}

.desktop-img {
    display:inline;
}

@media (max-height: 768px) {
    .mobile-img {
        display:inline;
    }

    .desktop-img {
        display:none
    }
}